/node_modules
/public/storage
/vendor
/.idea
/log
Homestead.json
Homestead.yaml
.env
.env.testing
/_ide_helper.php
/.phpstorm.meta.php

tests/_output/*
/nbproject/private/
/nbproject/*
/run/prod/install-rancher.sh
/tests/_support/_generated/

/run/prod/make-configs.sh
